################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/Input/day1.txt
/.vs/AdventOfCode-24/FileContentIndex
/.vs/AdventOfCode-24/v17
/ConsoleApp/.vs/ConsoleApp/FileContentIndex
/ConsoleApp/.vs/ConsoleApp/v17
/ConsoleApp/bin/Debug/net9.0
/ConsoleApp/obj/Debug/net9.0/ref
/ConsoleApp/obj
/.vs/AdventOfCode-24/config
/.vs
/Input
